.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;

}

/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}

/* slider */
.portfolio .swiper {
  overflow: visible !important;
}

.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}

.portfolio img {
  width: 19rem;
  height: 10rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 9px;
}

.portfolio img:hover {
  box-shadow: 0px 0px 30px 15px rgba(245, 193, 20, 0.552);
}

@media screen and (max-width: 480px) {
  .portfolio img {
    width: 16rem;
    height: 10rem;
  }

  .portfolio-slider {
    text-align: center;
  }

  .portfolio span:nth-of-type(2) {
    font-size: 1.9rem;
  }

  select {
    font-size: small;
  }
}

select {
  color: var(--orange);
  font-size: 1.9rem;
  font-weight: bold;
  border: none;
  text-decoration: underline;
}

select:hover {
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}